
{{!-- {{this_$}} --}}
{{!-- <h5>this</h5> --}}
{{!-- {{@root.[0].x.[2]}} <br> --}}
{{!-- {{this.[0]}} <br> --}}
{{@root}} <br>
{{@root.[0]}} <br>
{{!-- {{this}} --}}
{{!-- 
<br>
<h5>empty_array</h5>
{{#if empty_array}}
<b>TRUE</b>
{{else}}
<b>FALSE</b>
{{/if}}

<h5>zero</h5> 
{{#if zero}}
<b>TRUE</b>
{{else}}
<b>FALSE</b>
{{/if}}

<h5>false</h5>
{{#if false}}
<b>TRUE</b>
{{else}}
<b>FALSE</b>
{{/if}}

<h5>null</h5>
{{#if null}}
<b>TRUE</b>
{{else}}
<b>FALSE</b>
{{/if}}

<h5>empty_string</h5>
{{#if empty_string}}
<b>TRUE</b>
{{else}}
<b>FALSE</b>
{{/if}}

<h5>empty_object</h5>
{{#if empty_object}}
<b>TRUE</b>
{{else}}
<b>FALSE</b>
{{/if}}

<h5>empty_string_sub_expr</h5>
{{#if (_capitalize empty_string)}}
TRUE
{{else}}
FALSE
{{/if}}

<h5>empty_string_sub_expr (unless)</h5>
{{#unless (_capitalize empty_string)}}
FALSE
{{else}}
TRUE
{{/unless}}

<h5>empty_array</h5>
{{#each empty_array as |empty_array i|}}
<b>content - {{this}}</b>
{{else}}
<b>no content</b>
{{/each}}

<h5>non_empty_object</h5>
{{#with non_empty_object as |non_empty_object|}}
<b>TRUE - {{aaa}}, {{bbb}}</b>
{{/with}}

<h5>non_empty_object</h5>
{{#with non_empty_object as |abc|}}
<b>TRUE - {{cc}}, {{bbb}}</b>
{{/with}} --}}