  <span>myPartial2</span>
  {{longitude}}, {{location}} {{location.latitude}} {{x}} {{@root}}<br>
{{!-- 
  <br>{{> myPartial y="hello" z="hi"}}<br>
  {{#getUserProfile as |user|}} 
 
    {{fname}} {{user.lname}} is currently at {{../longitude}}, {{../latitude}}<br>
  {{/getUserProfile}} --}}
  {{../.}}