{{#each people as |p peopleKey|}}
    {{#with person as |q|}}
        Data Variables: {{@../first}}, {{@../last}}, {{@../index}}, {{@../key}}<br>
        {{createPerson}}
        My name is {{name}} (or {{p.person.name}}) for {{peopleKey}}. I 'm a {{gender}}. I was born in {{birthYear}}
        <br>
        <span>Hello {{capitalize name 5 'Param A' true null undefined (sayHello 'Tonia' (getAge 1996) year=birthYear fakeAge = (getAge 1996)) sex=gender  }}</span>
    {{/with}}
    <br>
{{/each}}

{{#each (dynamicUsers people) as |user index|}}
  <br><br>
  Data Variables: {{@first}}, {{@last}}, {{@index}}, {{@key}} <br>
  UserId: {{id}}, {{user.id}} ({{index}}) <br>
  Books: 
  <br><hr>
  {{#each user.books as |book bookId|}}
    {{> books}}
  {{/each}}
  {{/each}}
    {{> conditionals}}