{{#each people as |p peopleKey|}}
    <br>
    {{#with person as |q|}}
        Data Variables: {{@../first}}, {{@../last}}, {{@../index}}, {{@../key}}<br>
        {{createPerson}}
        My name is {{name}} (or {{p.person.name}}) for {{peopleKey}}. I 'm a {{gender}}. I was born in {{birthYear}}
        <br>
        <span>Hello {{capitalize name 5 'Param A' true null undefined (sayHello 'Tonia' (getAge 1996) year=birthYear fakeAge = (getAge 1996)) sex=gender  }}</span>
    {{/with}}
    <br>
{{/each}}

<br>
Literal Segments <br>
* {{users.[0].books.[0].name}} by {{users.[0].books.[0].authors.[0]}}

<br><br><br>
Block helpers <br>
{{#customEach (dynamicUsers people) as |user index|}}
  <br><br>
  Data Variables: {{@first}}, {{@last}}, {{@index}}, {{@key}} <br>
  UserId: {{id}}, {{user.id}} ({{index}}) <br>
  Books: 
  <br><hr>
 {{#each user.books as |book bookId|}}
    {{!-- {{> books}} --}}
      Name: {{book.name}} for {{../id}} - ({{bookId}} || {{@../index}}) <br>
      releaseYear: {{book.releaseYear}} <br>
      Authors: <br>
      {{#each book.authors as |author|}}
         <b>{{author}}</b> or <b>{{this}}</b> - ({{@key}})
         <br>
      {{/each}}
      <br>
      <hr>
  {{/each}}
  {{/customEach}}
    {{!-- {{> conditionals}} --}}

<br>

{{#each (dynamicUsers people) as |user index|}}
  <br><br>
  Data Variables: {{@first}}, {{@last}}, {{@index}}, {{@key}} <br>
  UserId: {{id}}, {{user.id}} ({{index}}) <br>
  Books: 
  <br><hr>
  {{#each user.books as |book bookId|}}
    {{> books}}
  {{/each}}
  {{/each}}
    {{> conditionals}}